.navbrand{
    font-family: '';
    font-size: 3rem !important;
    font-weight: bolder;
}
.navlink{
    font-family: 'Work Sans';
    font-weight: light !important;
    font-size: large !important;
    text-decoration: none;

}

.navbar-toggle-icon .navbar-toggler-icon {
    /* filter: brightness(0) invert(1); */
    background: url('images/menu-bar.png') center/cover no-repeat ; /* Adjust path as needed */
    width: 30px; /* Set appropriate width */
    height: 30px; /* Set appropriate height */
    color: transparent; /* Hide default icon color */
    border: none; /* Optional: remove any default borders */
  }
  .home-navbar {
    background-color: transparent; /* Assuming you want it transparent like the intro */
    color: white; /* White text if your intro has a dark background */
    /* Add other styles as necessary to match the intro */
    position: absolute;
    padding: auto;
    width: 100%;
  }
  

.logo{
  font-family: 'Style Script';
}