.navbrand{
    font-family: '';
    font-size: 3rem !important;
    font-weight: bolder;
}
.navlink{
    font-family: 'Work Sans';
    font-weight: light !important;
    font-size: large !important;
    text-decoration: none;

}

.navbar-toggle-icon{
    border: none;  
    float: right;
  }
  .home-navbar {
    background-color: transparent; /* Assuming you want it transparent like the intro */
    color: white; /* White text if your intro has a dark background */
    /* Add other styles as necessary to match the intro */
    position: absolute;
    padding: auto;
    width: 100%;
  }
  

.logo{
  font-family: 'Style Script';
}

.navbar .navbar-toggler {
    width: auto;  /* Set width to auto to avoid full width */
    margin-right: 0;  /* Remove any default horizontal margin */
    margin-left: 0;  /* Align to the right by setting left margin to auto */
}