.recipe-card {
    width: 12rem;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 5px;
    overflow: hidden;
}

.recipe-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img {
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px; */
    object-fit: cover;
}

.link {
    text-decoration: none;
    color: inherit;
}

.card-title {
    font-size: 1rem;
    /* font-weight: bold; */
    text-align: center;
}
.card-body{
    height: 70px;
}

.category-badge {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 0.8rem;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem; /* Fixed height for the footer */
    background: none;
    /* border-top: none; */
}

.fav-button {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}

.fav-button:hover .heart-icon {
    transform: scale(1.2);
}

.heart-icon {
    color: #e74c3c;
    font-size: 1.5rem;
}
